<mat-card class="matcard" position="center">
<mat-tab-group mat-stretch-tabs color = "primary">

  <mat-tab label="Авторизация">
    <div>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Логин" >
    </mat-form-field>
    </div>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Пароль" type="password">
    </mat-form-field>

    <div>
      <button mat-raised-button color="primary" (click)="autor()">Войти</button>
    </div>

  </mat-tab>

  <mat-tab label="Регистрация">

    <mat-form-field class="example-full-width">
      <input matInput placeholder= "Имя" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder= "Фамилия" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder= "Отчество" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder= "Организация" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder= "Электронная почта" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder= "Логин" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder= "Пароль" required>
    </mat-form-field>

    <div>
      <button mat-raised-button color="primary"x>Зарегистрироваться</button>
    </div>

  </mat-tab>


</mat-tab-group>
</mat-card>
