<mat-card class="addEmployee">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Добавить нового работника</mat-card-title>
  </mat-card-header>
<mat-form-field class="example-full-width">
   <input matInput placeholder="Фамилия" required>
 </mat-form-field>

 <mat-form-field class="example-full-width">
   <input matInput placeholder="Имя" required>
 </mat-form-field>

 <mat-form-field class="example-full-width">
   <input matInput placeholder="Отчество" required>
 </mat-form-field>
 <div>
   <button mat-raised-button color="primary">Добавить</button>
 </div>
</mat-card>
