<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container>

<mat-toolbar color="primary">

  <span>Vocation manager</span>

  <button mat-button [matMenuTriggerFor]="menu" >Menu</button>

  <mat-menu #menu="matMenu" >
    <button mat-menu-item (click)="login()">Sign in</button>

    <button mat-menu-item (click)="addEmployee()">
      <span>addEmployee</span>
    </button>

    <button mat-menu-item>Exit</button>
    </mat-menu>

  </mat-toolbar>

</mat-sidenav-container>

<router-outlet></router-outlet>
